:root {
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before {
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    position: absolute;
    left: 0px;
}

button:hover {
    cursor: pointer;
}

/* Basic Layout */
body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "dashboard header"
    "dashboard main";
}

ul {
    list-style-type: none;
}

#header {
    grid-area: header;
    border-bottom: 1px solid;
    box-shadow: 0 4px 2px -2px gray;
    padding: 20px;
}

#main {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-areas: "project-container another-container";
    padding: 20px;
    gap: 20px;
    background-color: #77fafa;
}

#dashboard {
    grid-area: dashboard;
    background-color: #93c5fd;
    color: black;
    padding: 15px 20px;
}

/* Specific section */
/* Header's child */
header span {
    font-weight: bold;
}

#tools-bar {
    display: grid;
    grid-template-columns: 4fr 1fr 3fr;
}

#menu-bar {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

#buttons-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#search {
    position: relative;
}

#search::before {
    background-image: url(./icons/search.svg);
}

#search input {
    margin-left: 40px;
    width: 80%;
    border-radius: 10px;
    padding: 0 5px;
    background-color: #ecfeff;
}

#notification button {
    width: 25px;
    border: none;
    background-color: transparent;
}

#user-info {
    position: relative;
    bottom: 10px;
}

#user-info button {
    background-color: transparent;
    width: fit-content;
    border: none;
}

#user-info img , #welcome-user img{
    display: inline-block;
    width: 50px;
}

#welcome-user img {
    width: 70px;
}

#user-info span , #welcome-user span{
    position: relative;
    bottom: 15px;
}

#buttons-list {
    display: grid;
    align-items: center;
}

#buttons-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#buttons-list button {
    padding: 5px 40px;
    border-radius: 20px;
    background-color: #06b6d4;
    color: white;
    font-size: 0.8rem;
}

/* Main's child */
#another-container {
    grid-area: another-container;
}

main p {
    margin-top: 10px;
}

#project-container {
    grid-area: project-container;
}

#projects {
    margin-top: 30px;
    display: grid;
    grid-area: projects;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#projects h2 {
    grid-column: 1 / 3;
}

article {
    border: 1px solid white;
    background-color: #fffff7;
    border-radius: 10px;
    padding: 20px;  
}

#projects article {
    border-left: 10px solid yellow;
    height: 200px;
    position: relative;
}

.view-page {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#another-container article {
    margin: 15px 0;
}

#trending a {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.author-avatar {
    height: 50px;
    grid-row: 1/3;
}

/* Dashboard's child */
#dashboard section {
    margin-top: 40px;
}

#dashboard li {
    margin: 20px 0;
}

#dashboard a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#dashboard h2, #dashboard li {
    padding-left: 40px;
    position: relative;
}

#dashboard h2::before {
    background-image: url(./icons/view-dashboard.svg);
    top: 2px;
}

#dashboard a::before {
    bottom: 2px;
}

#home-link::before {
    background-image: url(./icons/home.svg);
}

#profile-link::before {
    background-image: url(./icons/profile.svg);
}

#messages-link::before {
    background-image: url(./icons/message.svg);
}

#history-link::before {
    background-image: url(./icons/history.svg);
}

#tasks-link::before {
    background-image: url(./icons/task.svg);
}

#communities-link::before {
    background-image: url(./icons/communities.svg);
}

#settings-link::before {
    background-image: url(./icons/setting.svg);
}

#support-link::before {
    background-image: url(./icons/support.svg);
}

#privacy-link::before {
    background-image: url(./icons/privacy.svg);
}

